# Database
DATABASE_URL="postgresql://user:password@localhost:5432/budgetapp_dev"

# NextAuth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# OpenAI
OPENAI_API_KEY="sk-..."